{% extends 'layouts/master.html' %}

{% set title = "Hubungi Kami" %}

{% block content %}
<h1>Hubungi Kami</h1>

<dl>
	<dt><i class="fas fa-map-marker-alt ml-2 mr-2"></i> alamat kantor</dt>
	<dd class="ml-5">K.H Notu Badu No.71 limboto Kab. Gorontalo Provinsi Gorontalo</dd>

	<dt><i class="fas fa-envelope ml-2 mr-2"></i> Email</dt>
	<dd class="ml-5">hidrology.gorontalo@gmail.com</dd>
	<dd class="ml-5">hidrology_gorontalo@yahoo.co.id</dd>

	<dt><i class="fab fa-facebook-square ml-2 mr-2"></i> Facebook</dt>
	<dd class="ml-5">Hidrologi Gorontalo</dd>

	<dt><i class="fab fa-instagram ml-2 mr-2"></i> Instagram</dt>
	<dd class="ml-5">@hkagorontalo</dd>

	<dt><i class="fab fa-twitter ml-2 mr-2"></i> Twitter</dt>
	<dd class="ml-5">@HidrologiG</dd>

</dl>
 


{% endblock %}

