<div class="container mt-2 mb-2 d-none d-sm-block">
    <div class="row">
        <div class="col flex-1 d-flex flex-row align-items-center">
            <div class="flex-1">
                <a href="/">
                    <img class="mr-2" src="/img/logo-sda.jpg" alt="" width="40">
                </a>
            </div>
            <div class="flex-1">
                <a href="/">
                    <h2 class="h6 font-weight-normal small mb-0">KEMENTRIAN PEKERJAAN UMUM DAN PERUMAHAN RAKYAT</h2>
                    <h2 class="h6 font-weight-bold mb-0">DIREKTORAT JENDERAL SUMBER DAYA AIR</h2>
                </a>
            </div>
        </div>
        <div class="col flex-1 text-right">
            <a href="/">
                <h2 class="h6 font-weight-normal small mb-0">BALAI WILAYAH SUNGAI</h2>
                <h2 class="h6 font-weight-bold mb-0">SULAWESI II GORONTALO</h2>
            </a>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top shadow-sm mb-1">
    <div class="container">
        {# <a href="/dashboard" class="navbar-brand">{{ env('APP_NAME', 'App') }}</a> #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-right d-block d-sm-none">
            <a class="navbar-brand" href="/"><small><span>BWSSUL2 - Gorontalo</span> <i class="fas fa-home mr-2"></i></small></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-main">
            <!-- Sidebar -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item {% if title == 'Dashboard'%}active{% endif %}">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-clipboard mr-2"></i>
                        Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item {% if title == 'Curah Hujan'%}active{% endif %}">
                    <a class="nav-link" href="/curahhujan">
                        <i class="fas fa-cloud-rain ml-2 mr-2"></i>
                        Curah Hujan
                    </a>
                </li>

                <li class="nav-item {% if title == 'Tinggi Muka Air'%}active{% endif %}">
                    <a class="nav-link" href="/tma">
                        <i class="fas fa-level-up-alt ml-2 mr-2"></i>
                        Tinggi Muka Air
                    </a>
                </li>

                <li class="nav-item {% if title == 'Map'%}active{% endif %}">
                    <a class="nav-link" href="/map">
                        <i class="fas fa-map ml-2 mr-2"></i>
                        Map
                    </a>
                </li>
                {% if user() %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                          role="button" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="fas fa-user ml-2 mr-2"></i>
                          Data
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/admin/">Data Harian</a>
                          {% if user().role == '1' %}
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/user">User</a>
                          {% endif %}
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                {% else %}
        			<a class="nav-link" href="/login"><i class="fas fa-key ml-2 mr-2"></i></a>
                {% endif %}

                {# <!-- Nav Item - Logout -->
                <li class="nav-item">
                    <form action="/logout" method="post" id="form-logout"></form>
                    <a class="nav-link" href="#" onclick="$('#form-logout').submit()">
                        Logout
                    </a>
                </li> #}

            </ul>
            <!-- End of Sidebar -->
        </div>
    </div>
</nav>
