{% extends 'layouts/master.html' %}

{% set title = "Lokasi" %}
{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>{{ title }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">{{ title }}</li>
        </ol>
    </section>
    <div>
        <table class="table table-bordered table-hover">
          <thead>
                <tr>
                    <th>No</th>
                    <th>Nama POS</th>
                    <th>Jenis</th>
                </tr>
          </thead>
          <tbody>
            {% for l in lokasis %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ l.nama }}</td>
                  <td>
                      {% if l.jenis == '1' or l.jenis == '4' %}
                          CH
                      {% elseif l.jenis == '2' %}
                          TMA
                      {% endif %}
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
