{% extends 'layouts/master.html' %}

{% set title = "Admin" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header mb-5">
        <h1>{{ current_user.lokasi.nama }}
            <small class="text-muted">
                {{ current_user.lokasi.str_jenis }}
            </small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item">Admin</li>
        </ol>
    </section>
    <div class="row">
        <div class="col-md-6">
            <h2>
                Curah Hujan
                <small>Manual</small>
                <button class="btn btn-outline-primary btn-sm" data-toggle="collapse" data-target="#form-add">Tambah</button>
            </h2>
            <div class="collapse bg-light shadow rounded"  id="form-add">
                <form class="row align-items-end p-3" action="{{ path_for('admin.add.curahhujan') }}" method="POST">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-text" for="sampling">Tanggal</label>
                            <input class="form-control" type="date" name="sampling" id="sampling" required value="{{ 'now' | date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-text" for="hujan">Curah Hujan</label>
                            <input class="form-control" type="number" name="hujan" id="hujan" value="">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        <div class="">&nbsp;</div>
            <table class="table table-bordered table-hover mt-4">
              <thead>
                <tr>
                  <th>Sampling</th>
                  <th>Nilai Manual</th>
                </tr>
              </thead>
              <tbody>
                {% for d in chs %}
                    <tr>
                    <td>{{ d.sampling }}</td>
                    <td class="text-right">{{ d.manual }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="col-md-6">
        &nbsp;
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
