{% extends 'layouts/master.html' %}

{% set title = "Admin" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header mb-5">
        <h1>{{ current_user.lokasi.nama }}
            <small class="text-muted">
                {{ current_user.lokasi.str_jenis }}
            </small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item">Admin</li>
        </ol>
    </section>
    <div class="row">
        <div class="col-md-6">
        <h2>Curah Hujan <small>Manual</small> <a href="#" class="btn
            btn-primary">Tambah</a></h2>
            <form action="." method="POST" id="formAdd">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.sampling.label }}
                    {{ form.sampling }}
                    <small id="samplingHelp" class="form-text text-muted">
                        Pengukuran hujan pagi ini adalah <b>sampling hari kemarin</b>
                    </small>
                </div>
                <div class="form-group">
                    {{ form.manual.label }}
                    {{ form.manual }}
                </div>
                <input type="submit" class="btn btn-primary" value="Simpan">
            </form>
        <div class="">&nbsp;</div>
            <table class="table table-border table-hover">
              <thead>
                <tr>
                  <th>Sampling</th>
                  <th>Nilai Manual</th>
                </tr>
              </thead>
              <tbody>
                {% for d in chs %}
                    <tr>
                    <td>{{ d.sampling }}</td>
                    <td class="text-right">{{ d.manual }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="col-md-6">
        &nbsp;
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
