{% extends 'layouts/master.html' %}

{% set title = "Admin" %}

{% block css %}
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">

{% endblock %}

{% block content %}
<section class="content-header mb-3">
	<h1>Admin</h1>
	<p>Data-data pengukuran <b>Manual</b> dari para <b>Pengamat</b></p>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item">Admin</li>
	</ol>
</section>
<div class="row">
	<div class="col-12">
		<h2>Curah Hujan <small class="text-muted">Data Manual terbaru</small></h2>
		<table class="table table-bordered table-hover">
			<thead>
				<tr class="bg-dark text-white">
					<th class="text-uppercase" colspan="10">
						<div class="d-flex justify-content-between align-items-center">
							<a href="/admin?sampling={{ prev }}" class="btn btn-sm btn-dark">
								<i class="fas fa-chevron-left mr-2"></i>
								{{ prev | date('d M Y') }}
							</a>
							<span class="mx-3" id="datepicker">{{ sampling | date('d M Y') }}</span>
							<a href="/admin?sampling={{ next }}" class="btn btn-sm btn-dark">
								{{ next | date('d M Y') }}
								<i class="fas fa-chevron-right ml-2"></i>
							</a>
						</div>
					</th>
				</tr>
				<tr>
					<th>POS</th>
					<th>Hujan (mm)</th>
					<th>Aksi</th>
				</tr>
			</thead>
			<tbody>
				{% for l in lokasi_ch %}
				{% set ch = l.manual %}
				<tr>
					<form action="{{ path_for('admin.edit.curahhujan') }}" method="post">
						<td>{{ l.nama }}</td>
						<td class="text-right">
							<span class="ch_{{ l.id }}_{{ sampling }}">{{ ch.rain is null ? '-' : ch.rain }}</span>
							<input class="ch_{{ l.id }}_{{ sampling }} form-control form-control-sm" style="display: none;" type="number" name="rain" id="rain" step="0.01" value="{{ ch.rain }}" required>
							<input type="hidden" name="lokasi_id" value="{{ l.id }}" readonly required>
							<input type="hidden" name="sampling" value="{{ sampling }}" readonly required>
						</td>
						<td class="fit text-nowrap">
							<button class="btn btn-sm btn-warning ch_{{ l.id }}_{{ sampling }}" type="button" onclick="toggleEdit('ch_{{ l.id }}_{{ sampling }}')">edit</button>
							<div class="btn-group ch_{{ l.id }}_{{ sampling }}" style="display: none;">
								<button class="btn btn-sm btn-secondary" type="button" onclick="toggleEdit('ch_{{ l.id }}_{{ sampling }}')">batal</button>
								<button class="btn btn-sm btn-primary" type="submit">simpan</button>
							</div>
							<!-- <button class="btn btn-sm btn-danger" type="button">hapus</button> -->
						</td>
					</form>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-12">
		<h2>TMA <small class="text-muted">Data Manual terbaru</small></h2>
		<table class="table table-bordered table-hover">
			<thead>
				<tr class="bg-dark text-white">
					<th class="text-uppercase" colspan="10">
						<div class="d-flex justify-content-between align-items-center">
							<a href="/admin?sampling={{ prev }}" class="btn btn-sm btn-dark">
								<i class="fas fa-chevron-left mr-2"></i>
								{{ prev | date('d M Y') }}
							</a>
							<span class="mx-3" id="datepicker">{{ sampling | date('d M Y') }}</span>
							<a href="/admin?sampling={{ next }}" class="btn btn-sm btn-dark">
								{{ next | date('d M Y') }}
								<i class="fas fa-chevron-right ml-2"></i>
							</a>
						</div>
					</th>
				</tr>
				<tr>
					<th>POS</th>
					<th>Jam 7</th>
					<th>Jam 12</th>
					<th>Jam 17</th>
					<th>TMA (meter)</th>
				</tr>
			</thead>
			<tbody>
				{% for l in lokasi_tma %}
				{% set tma = l.manual %}
				<tr>
					<td>{{ l.nama }}</td>
					<td class="text-right">{{ tma.jam7 is null ? '-' : tma.jam7 }}</td>
					<td class="text-right">{{ tma.jam12 is null ? '-' : tma.jam12 }}</td>
					<td class="text-right">{{ tma.jam17 is null ? '-' : tma.jam17 }}</td>
					<td class="text-right">-</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col">
		<h2>Klimatologi <small class="text-muted">Data Manual terbaru</small></h2>
		<table class="table table-bordered table-hover">
			<thead>
				<tr class="bg-dark text-white">
					<th class="text-uppercase" colspan="10">
						<div class="d-flex justify-content-between align-items-center">
							<a href="/admin?sampling={{ prev }}" class="btn btn-sm btn-dark">
								<i class="fas fa-chevron-left mr-2"></i>
								{{ prev | date('d M Y') }}
							</a>
							<span class="mx-3" id="datepicker">{{ sampling | date('d M Y') }}</span>
							<a href="/admin?sampling={{ next }}" class="btn btn-sm btn-dark">
								{{ next | date('d M Y') }}
								<i class="fas fa-chevron-right ml-2"></i>
							</a>
						</div>
					</th>
				</tr>
				<tr>
					<th rowspan="2">POS</th>
					<th colspan="3">Temperatur (°C)</th>
					<th rowspan="2">RH (%)</th>
					<th colspan="2">PAN 'A'</th>
					<th rowspan="2">Kec. Angin (km/hari)</th>
					<th rowspan="2">Sinar Matahari (%)</th>
					<th rowspan="2">Hujan Biasa (mm)</th>
				</tr>
				<tr>
					<th>Max</th>
					<th>Min</th>
					<th>Rata-rata</th>
					<th>Temp. Air dlm. Tangki (°C)</th>
					<th>Penguapan (mm)</th>
				</tr>
			</thead>
			<tbody>
				{% for l in lokasi_klimat %}
				{% set k = l.manual %}
				<tr>
					<td>{{ l.nama }}</td>
					<td class="text-center">
						{{ k.temp_max is null ? '-' : k.temp_max }}
					</td>
					<td class="text-center">
						{{ k.temp_min is null ? '-' : k.temp_min }}
					</td>
					<td class="text-center">
						{{ k.temp_avg is null ? '-' : k.temp_avg }}
					</td>
					<td class="text-center">
						{{ k.humi is null ? '-' : k.humi }}
					</td>
					<td class="text-center">
						{{ k.temp_tangki is null ? '-' : k.temp_tangki }}
					</td>
					<td class="text-center">
						{{ k.evaporation is null ? '-' : k.evaporation }}
					</td>
					<td class="text-center">
						{{ k.wind is null ? '-' : k.wind }}
					</td>
					<td class="text-center">
						{{ k.rad is null ? '-' : k.rad }}
					</td>
					<td class="text-center">
						{{ k.rain is null ? '-' : k.rain }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
	type="text/javascript"></script>
<script>
	$(function () {
		$('#datepicker').datepicker({
			todayHighlight: true,
			autoclose: true,
			format: 'yyyy-mm-dd'
		});
		$('#datepicker').on('changeDate', function () {
			window.location = "/admin?sampling=" + $('#datepicker').datepicker('getFormattedDate')
		});
	})

	toggleEdit = function (cname) {
		$("."+ cname).toggle();
	}
</script>
{% endblock %}