{% extends 'layouts/master.html' %}

{% set title = "Admin" %}

{% block css %}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block content %}
<section class="content-header mb-4">
    <h1>{{ lokasi.nama }}
        <small class="text-muted">
            (Klimat)
            <!-- {{ user().lokasi.str_jenis }} -->
        </small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">Admin</li>
    </ol>
</section>
<div class="row">
    <div class="col-md-12">
        <h2>
            Pengukuran
            <small>Manual</small>
            <button class="btn btn-outline-primary btn-sm" data-toggle="collapse"
                data-target="#form-add">Tambah</button>
        </h2>
        <div class="collapse bg-light shadow rounded" id="form-add">
            <form class="p-3" action="{{ path_for('admin.add.klimat') }}" method="POST">
                <div class="">
                    <table class="table table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th rowspan="2">Tanggal</th>
                                <th colspan="3">Temperatur (°C)</th>
                                <th rowspan="2">RH (%)</th>
                                <th colspan="2">PAN 'A'</th>
                                <th rowspan="2">Kec. Angin (km/hari)</th>
                                <th rowspan="2">Sinar Matahari (%)</th>
                                <th rowspan="2">Hujan Biasa (mm)</th>
                            </tr>
                            <tr>
                                <th>Max</th>
                                <th>Min</th>
                                <th>Rata-rata</th>
                                <th>Temp. Air dlm. Tangki (°C)</th>
                                <th>Penguapan (mm)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="form-control" type="date" name="sampling" id="sampling" required
                                        value="{{ 'now' | date('Y-m-d') }}">
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="temp_max" id="temp_max" step="0.01">
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="temp_min" id="temp_min" step="0.01">
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="temp_avg" id="temp_avg" step="0.01">
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="humi" id="humi" step="0.01">
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="temp_tangki" id="temp_tangki"
                                        step="0.01">
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="evaporation" id="evaporation"
                                        step="0.01">
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="wind" id="wind" step="0.01">
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="rad" id="rad" step="0.01">
                                </td>
                                <td>
                                    <input class="form-control" type="number" name="rain" id="rain" step="0.01">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
        <div class="">
            <table class="table table-bordered table-hover mt-4">
                <thead>
                    <!-- <tr class="bg-dark text-white">
                        <th class="text-uppercase" colspan="10">
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="" class="btn btn-sm btn-dark px-5">&lt;</a>
                                <span class="mx-3">{{ 'now' | date('M Y') }}</span>
                                <a href="" class="btn btn-sm btn-dark px-5">&gt;</a>
                            </div>
                        </th>
                    </tr> -->
                    <tr>
                        <th rowspan="2">Tanggal</th>
                        <th colspan="3">Temperatur (°C)</th>
                        <th rowspan="2">RH (%)</th>
                        <th colspan="2">PAN 'A'</th>
                        <th rowspan="2">Kec. Angin (km/hari)</th>
                        <th rowspan="2">Sinar Matahari (%)</th>
                        <th rowspan="2">Hujan Biasa (mm)</th>
                    </tr>
                    <tr>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Rata-rata</th>
                        <th>Temp. Air dlm. Tangki (°C)</th>
                        <th>Penguapan (mm)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k in klimat %}
                    <tr>
                        <td class="text-center text-nowrap">{{ k.sampling | date('d M Y') }}</td>
                        <td class="text-center">
                            {{ k.temp_max is null ? '-' : k.temp_max }}
                        </td>
                        <td class="text-center">
                            {{ k.temp_min is null ? '-' : k.temp_min }}
                        </td>
                        <td class="text-center">
                            {{ k.temp_avg is null ? '-' : k.temp_avg }}
                        </td>
                        <td class="text-center">
                            {{ k.humi is null ? '-' : k.humi }}
                        </td>
                        <td class="text-center">
                            {{ k.temp_tangki is null ? '-' : k.temp_tangki }}
                        </td>
                        <td class="text-center">
                            {{ k.evaporation is null ? '-' : k.evaporation }}
                        </td>
                        <td class="text-center">
                            {{ k.wind is null ? '-' : k.wind }}
                        </td>
                        <td class="text-center">
                            {{ k.rad is null ? '-' : k.rad }}
                        </td>
                        <td class="text-center">
                            {{ k.rain is null ? '-' : k.rain }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(function () {
        $('#form-add').on('shown.bs.collapse', function (e) {
            $('#temp_max').focus()
        })
    })
</script>
{% endblock %}