{% extends 'layouts/master.html' %}

{% set title = "Pengamat Tinggi Mata Air" %}

{% block css %}{% endblock %}

{% block content %}
    <section class="content-header mb-5">
        <h1>
            {{ lokasi.nama }}
            <small>(TMA)</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">Admin</li>
        </ol>
    </section>
    <div class="">
        <h2 class="text-muted">
            Tinggi Mata Air
            <button class="btn btn-outline-primary btn-sm" data-toggle="collapse" data-target="#form-add">Tambah</button>
        </h2>
        <div class="collapse bg-light shadow rounded"  id="form-add">
            <form class="row align-items-end p-3" action="{{ path_for('admin.add.tma') }}" method="POST">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-text" for="sampling">Tanggal</label>
                        <input class="form-control" type="date" name="sampling" id="sampling" required value="{{ 'now' | date('Y-m-d') }}">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-text" for="jam">Jam</label>
                        <select name="jam" id="jam" class="form-control" required>
                            <option value="07:00" {{ inputjam == "07:00" ? 'selected' : '' }}>7</option>
                            <option value="12:00" {{ inputjam == "12:00" ? 'selected' : '' }}>12</option>
                            <option value="17:00" {{ inputjam == "17:00" ? 'selected' : '' }}>17</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-text" for="manual">Manual</label>
                        <input class="form-control" type="number" step="0.1" name="manual" id="manual" required value="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-bordered table-hover mt-4">
            <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>Jam 7</th>
                    <th>Jam 12</th>
                    <th>Jam 17</th>
                </tr>
            </thead>
            <tbody>
                {% for tma in tmas %}
                    <tr>
                        <td>{{ tma.sampling | date('d M Y') }}</td>
                        <td align="right">
                            {% if tma.jam7 %}
                                {{ tma.jam7 | number_format(2) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td align="right">
                            {% if tma.jam12 %}
                                {{ tma.jam12 | number_format(2) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td align="right">
                            {% if tma.jam17 %}
                                {{ tma.jam17 | number_format(2) }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}{% endblock %}
