{% extends 'layouts/master.html' %}

{% set title = "Curah Hujan" %}
{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <section class="content-header">
    <h1>Curah Hujan</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">Curah Hujan</li>
    </ol>
    </section>
    <div class="d-flex justify-content-center mb-3">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link"
                id="nav-profile-tab" data-toggle="tab"
                href="#nav-profile" role="tab"
                aria-controls="yesterday" aria-selected="false">
                <h5>Kemarin</h5>
            </a>
            <a class="nav-item nav-link active"
                id="nav-home-tab" data-toggle="tab"
                href="#nav-home" role="tab"
                aria-controls="today" aria-selected="true">
                <h5>Hari Ini</h5>
            </a>
          </div>
        </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active mt-2"
        id="nav-home" role="tabpanel"
        aria-labelledby="today-tab">
        <div class="d-flex justify-content-center mb-3">
            <span class="mx-3"><i class="fas fa-calendar mr-2"></i>{{ today }}</span>
            <!-- <span class="mx-3">{{ today }}</span> -->
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th rowspan="2">No</th>
                  <th rowspan="2">Lokasi / Pos</th>
                  <th colspan="4">Waktu (WITA)</th>
                  <th rowspan="2">Telemetri 24 jam</th>
                  <th rowspan="2">Manual 24 jam</th>
                </tr>
                <tr>
                    <th>07 - 13</th>
                    <th>13 - 19</th>
                    <th>19 - 01</th>
                    <th>01 - 07</th>
                </tr>
            </thead>
            <tbody>
            {% for r in result %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td><a href="{{ path_for('curahhujan.periodik', {'id': r.lokasi.id}) }}">{{ r.lokasi.nama }}</a></td>
                  <td align="right">{{ r.durasi_07_13 }}</td>
                  <td align="right">{{ r.durasi_13_19 }}</td>
                  <td align="right">{{ r.durasi_19_01 }}</td>
                  <td align="right">{{ r.durasi_01_07 }}</td>
                  <td align="right">{{ r.durasi_all }}</td>
                  <td align="right">{{ r.durasi_manual != null ? r.durasi_manual ~" mm" : '-' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>

      <!-- yesterday -->
      <div class="tab-pane fade mt-2"
        id="nav-profile" role="tabpanel"
        aria-labelledby="yesteday-tab">
        <div class="d-flex justify-content-center mb-3">
            <span class="mx-3"><i class="fas fa-calendar mr-2"></i>{{ yesterday }}</span>
            <!-- <span class="mx-3">{{ today }}</span> -->
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th rowspan="2">No</th>
                  <th rowspan="2">Lokasi / Pos</th>
                  <th colspan="4">Waktu (WITA)</th>
                  <th rowspan="2">Telemetri 24 jam</th>
                  <th rowspan="2">Manual 24 jam</th>
                </tr>
                <tr>
                    <th>07 - 13</th>
                    <th>13 - 19</th>
                    <th>19 - 01</th>
                    <th>01 - 07</th>
                </tr>
            </thead>
            <tbody>
            {% for r in y_result %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td><a href="{{ path_for('curahhujan.periodik', {'id': r.lokasi.id}) }}">{{ r.lokasi.nama }}</a></td>
                  <td align="right">{{ r.durasi_07_13 }}</td>
                  <td align="right">{{ r.durasi_13_19 }}</td>
                  <td align="right">{{ r.durasi_19_01 }}</td>
                  <td align="right">{{ r.durasi_01_07 }}</td>
                  <td align="right">{{ r.durasi_all }}</td>
                  <td align="right">{{ r.durasi_manual != null ? r.durasi_manual ~" mm" : '-' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
