{% extends 'layouts/master.html' %}

{% set title = "User" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>User </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">User</li>
        </ol>
    </section>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="{{ path_for('user.add') }}">
                {{ pengamatform.csrf_token }}
                <div class="form-group">
                    {{ pengamatform.username.label }}
                    {{ pengamatform.username }}
                    <small id="usernameHelpBlock" class="form-text text-muted">
                        Username harus huruf kecil, tanpa spasi, gunakan alfabet
                    </small>
                </div>
                <div class="form-group">
                    {{ pengamatform.password.label }}
                    {{ pengamatform.password }}
                </div>
                <div class="form-group">
                    {{ pengamatform.lokasi.label }}
                    {{ pengamatform.lokasi }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
