{% extends 'layouts/master.html' %}

{% set title = "User" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
    <h1>Atur Password {{ user.username }}</h1>
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/user/">User</a></li>
    <li class="breadcrumb-item">Atur Password {{ user.username }}</li>
    </ol>
    </section>
    <div class="row">
        <div class="col-md-6">
            <h2>Password Baru</h2>
            <form method="POST" action="{{ path_for('user.password', {id:user_id}) }}">
              <div class="form-group">
                    <input type="text" name="password">
                    <div class="form-text text-muted">
                        <i>Tidak boleh kosong, gunakan password sederhana saja.</i>
                    </div>
              </div>
              <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                    <a class="ml-3" href="{{ path_for('user') }}">Batal</a>
              </div>
            </form>
        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
